[package]
name = "aoc"
version = "0.1.0"
edition = "2024"

[lib]
proc-macro = true

[dependencies]
proc-macro2 = "1"
quote = "1"
syn = { version = "2", features = ["full"] }
ctor = "0.2"
tracing = "0.1.43"
tracing-subscriber = "0.3.22"
env_logger = "0.11.8"
image = "0.25"